#smartphone-btn-buy {
    display: none;
}

.activity-container {
    min-height: 75vh !important;
}

.circle-button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

a.active {
    color: #03fcb1 !important;
    background-color: none !important;
}

.back-button {
    background: none;
    border: none;
    color: #FFF;
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: left;
}

.bg-tosca {
    background-color: #93edd2 !important;
}

.bg-pink {
    background-color: #ffd4cc !important;
}

.p-banner {
    padding: 10px 80px;
}

.card-category {
    width: 200px;
    height: 100px;
}

.card-detail-info {
    padding: 0;
    position: absolute !important;
    top: 60vh !important;
    right: 0;
    left: 0;
}

.center-vertical a {
    position: absolute;
}

.circle-size {
    width: 100px;
    height: 100px;
}

.circle-size i {
    font-size: 50px;
}

.circle-next-ic {
    line-height: 100px;
}

.icon {
    width: 40px !important;
    height: 40px !important;
}

.mb-10 {
    margin-bottom: 150px;
}

.text-category {
    display: inline !important;
}

.text-main {
    color: #03fcb1 !important;
}

.text-detail-food {
    padding: 20px;
    top: 80px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.text-menu {
    color: #494F54;
}

.text-menu:hover {
    transition: 0.3s;
    color: #03fcb1 !important;
}

.text-menu-detail {
    font-size: 14px;
}

.text-pink {
    color: #ffd4cc !important;
}

.zoom:hover {
    position: relative;
    z-index: 3 !important;
    transition: 0.5s;
    transform: scale(1.05);
}

.img-menu {
    width: 300px;
    height: 195px;
    object-fit: cover;
}

.img-detail {
    height: 75vh !important;
    object-fit: cover;
}

.img-detail-overlay {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    color: #FFF;
}

.mb-mobile {
    margin-bottom: auto;
}

@media (max-width: 450px) {
    #btn-buy {
        display: none;
    }
    #search-bar-md {
        display: none;
    }
    #smartphone-btn-buy {
        display: block;
        position: fixed;
        bottom: 0;
    }
    .activity-container {
        min-height: 100vh !important;
    }
    .circle-size {
        width: 50px;
        height: 50px;
    }
    .circle-size i {
        font-size: 20px;
    }
    .circle-next-ic {
        line-height: 50px;
    }
    .img-menu {
        width: 200px;
        height: 95px;
        object-fit: cover;
    }
    .mb-mobile {
        margin-bottom: 800px !important;
    }
    .navigation-menu {
        position: fixed;
        bottom: 0 !important;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        background-color: #f8f8f8 !important;
        z-index: 2 !important;
    }
    .nav-link {
        font-size: 10px;
        text-align: center !important;
    }
    .text-menu-detail {
        font-size: 12px;
    }
    .text-category {
        display: block !important;
    }
    .text-detail-food {
        text-align: left;
        left: 0;
        right: auto;
    }
}

@media (min-width: 450.1px) and (max-width: 767.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .ic-menu {
        display: none;
    }
}